.nav-conteiner {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}